.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.width-auto {
  width: auto;
}

.bg-color-first {
  background-color: #042a2b;
}

.bg-color-second {
  background-color: #fffcf9;
}

.bg-color-third {
  background-color: #dcd6f7;
}
