@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Titillium+Web:600&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  height: 150vh;
}

.map {
  width: 82% !important;
}

.map-container {
  height: 200px;
}

.main-heading {
  font-family: "Playfair Display" !important;
  font-size: 3.5vw;
}

.secondary-heading {
  font-family: "Playfair Display" !important;
  font-size: 2vw;
}

.input-label,
.custom-button {
  font-family: "Titillium Web";
  font-size: 1.35vw;
}

.row_span-wrapper th:first-child{
  width:150px;
}
