@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|Titillium+Web:600&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  height: 250vh;
}

.map {
  width: 82% !important;
}

.map-container {
  height: 200px;
}

.main-heading {
  font-family: "Playfair Display" !important;
  font-size: 2rem;
}

.secondary-heading {
  font-family: "Playfair Display" !important;
  font-size: 1.5rem;
}

.input-label,
.custom-button,
th,
select {
  font-family: "Titillium Web";
  font-size: 1.15rem;
}

td {
  font-size: 1.15vw;
}

.row_span-wrapper th:first-child {
  width: 150px;
}

#logo {
  height: 8rem;
  width: 8rem;
}